.product{
    overflow: hidden;
}
.product img{
    max-height: 150px;
}
.image-parent{
    min-height: 216px;
    display: flex;
    align-items: center;
}
.icon-parent{
    right: 1rem;
    transform: translateX(80px);
      @apply absolute top-0 duration-300 ease-in-out;
}

.product:hover .icon-parent{
    transform: translateX(0);
}
.right-caret:hover i{
    @apply hover:translate-x-1 transition-transform duration-300;
}
