@import url("https://fonts.googleapis.com/css2?family=Merriweather:opsz,wght@18..144,300&family=Montserrat:wght@300&display=swap");
@import "tailwindcss";

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

@theme {
  --color-primary: #276069;
  --color-secondary: #3b3b3b;
  --color-xanthous: #f2b823;
  --color-tangerine: #baa086;
  --color-redish: #c82e33;
}
